@model Familynk.Models.HouseRules

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HouseRules</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MagneticMessageLifespan" class="control-label"></label>
                <input asp-for="MagneticMessageLifespan" class="form-control" />
                <span asp-validation-for="MagneticMessageLifespan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StickyNoteLifespan" class="control-label"></label>
                <input asp-for="StickyNoteLifespan" class="form-control" />
                <span asp-validation-for="StickyNoteLifespan" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FamilyMembersCustomizeKitchen" /> @Html.DisplayNameFor(model => model.FamilyMembersCustomizeKitchen)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FamilyMembersCreateEvents" /> @Html.DisplayNameFor(model => model.FamilyMembersCreateEvents)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FamilyMembersInviteOtherMembers" /> @Html.DisplayNameFor(model => model.FamilyMembersInviteOtherMembers)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
