@model EventVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FamilyEvent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Edit.Title" class="control-label"></label>
                <input asp-for="Edit.Title" class="form-control" />
                <span asp-validation-for="Edit.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edit.EventDate" class="control-label"></label>
                <input asp-for="Edit.EventDate" tyupe="date" class="form-control" />
                <span asp-validation-for="Edit.EventDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edit.Details" class="control-label"></label>
                <input asp-for="Edit.Details" class="form-control" />
                <span asp-validation-for="Edit.Details" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Creator" value="@Model.Creator"/>
            <div class="form-group">
                <input type="submit" value="Add to Calendar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
