@model FamilyUnit
@inject SignInManager<FamilyMember> _signInManager;
@{
    var _userManager = _signInManager.UserManager;

}
    <div class="card-header">
        The @Model.FamilyName Family
    </div>
    <div class="card-body">
        @foreach (var member in Model.Members)
        {
            <div class="member-name">@member.Name</div>
            
        }
    </div>


