@model WelcomeVM
@{
    ViewData["Title"] = "Neighborhood";
    Model.NewFamily = new();
}
<h1>
    Welcome to the Neighborhood!
</h1>
<br />
<div class="family-list opacity-90 d-flex flex-wrap flex-row">
    @for (int i = 0; i < Model.Neighborhood.Count; i++)
    {
        <div class="card">
            @Html.DisplayFor(m => m.Neighborhood[i])
            <a class=" mx-2" asp-controller="Family" asp-action="DeleteFamily" asp-route-familyId="@Model.Neighborhood[i].FamilyUnitId">
                <i class="bi bi-trash text-danger text-info"></i>
            </a>
            <a class="mx-2" asp-action="AddFamilyMember" asp-controller="Family">Add a member</a>
        </div>
    }

</div>

<form method="post" asp-action="CreateNewFamily" asp-controller="Family">
    <div class="form-floating w-50">
        <input asp-for="NewFamily.FamilyName" class="form-control" />
        <label asp-for="NewFamily.FamilyName">New Family Name</label>

    </div>
    <input type="submit" value="create" class="btn btn-primary" />
</form>