@model Familynk.Models.Messages.DirectMessage

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DirectMessage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppMessageId" />
            <input type="hidden" asp-for="RecipientId" />
            <input type="hidden" asp-for="FamilyEventId" />
            @*<div class="form-group">
                <label asp-for="RecipientId" class="control-label"></label>
                <input asp-for="RecipientId" class="form-control" />
                <span asp-validation-for="RecipientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppMessageId" class="control-label"></label>
                <input asp-for="AppMessageId" class="form-control" />
                <span asp-validation-for="AppMessageId" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="FamilyEventId" class="control-label"></label>
                <input asp-for="FamilyEventId" class="form-control" />
                <span asp-validation-for="FamilyEventId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
